/*
	Author: Eloise Ridder-Strickland
	Developer View: Ctrl+Shift+I
*/

/*
	Only use .theme-dark or .theme-light selectors if you want the styles to change 
	when switching between light and dark themes.
*/

.theme-dark {
	color: var(--l2);							/* -- Document Text Color */
	--background-primary: var(--d2);
	--background-secondary: var(--d1);
	--divider-color: var(--d4);					/* -- Window Divider - Color*/
  	
	--table-header-background: var(--d4);       /* Table Header - Row Color */
	--table-header-color: var(--l5);            /* Table Header - Font Color */
	--table-border-color: var(--d4);            /* Table - Border Color*/
	--table-background: var(--d3);              /* Table - Base Color */
}

.theme-light {
	color: var(--d2);							/* -- Document Text Color */
	--background-primary: var(--l2);
	--background-secondary: var(--l3);
	--divider-color: var(--l4);					/* -- Window Divider - Color*/
  	
	--table-header-background: var(--l3);      	/* Table Header - Row Color */
	--table-header-color: var(--l5);            /* Table Header - Font Color */
	--table-border-color: var(--l4);            /* Table - Border Color*/
	--table-background: var(--l1);             	/* Table - Base Color */
}

/*
	It's important to use :root with caution and consideration. If your variable can 
	be placed within body, .theme-dark, or .theme-light selectors instead, it is 
	recommended to do so.
*/
:root {
   --input-hover-border-color: var(--tomato);

/* -- COLOR DECLARATIONS -- */
	--l1: #e1e1e1;
  	--l2: #d2d2d2;
  	--l3: #c8c8c8;
   	--l4: #bebebe;
	--l5: #969696;
	
	--d1: #0a0a0a;
	--d2: #0f0f0f;
	--d3: #191919;
	--d4: #282828;
	--d5: #323232;

	--tomato: #ff6347;
	--orange: #ecaa6b;
	--yellow: #ffdb78;
	--green: #7eb186;
	--blue: #709cea;
	--violet: #8694e0;
}

/*
	When defining styles that should remain the same for both light and dark themes, 
	it is recommended to use the body selector.
*/

body {
	--font-text-theme: 'Inter', sans-serif;					
	--divider-width: 1px;									 /* -- Window Divider - Width*/
  	--table-header-weight: none;                             /* Table Header - Font Weight */
	--scrollbar-thumb-bg:rgba(255, 99, 71, 0.1);           /* Idle Color */
  	--scrollbar-active-thumb-bg: rgba(255, 99, 71, 0.2);   /* Hover Color */
  	

	--h1-color: var(--tomato);			/* -- Heading Colors */
	--h2-color: var(--orange);
	--h3-color: var(--yellow);
	--h4-color: var(--green);
	--h5-color: var(--blue);
	--h6-color: var(--violet);
}

.nav-folder-title
{
	font-weight: 600;
	color: var(--tomato);
}

.nav-file-title[data-path$=".canvas"] .nav-file-title-content 
{ color: var(--yellow); }

.nav-file-title[data-path$=".jpg"] .nav-file-title-content,
.nav-file-title[data-path$=".jpeg"] .nav-file-title-content 
{ color: var(--green); }

.nav-file-title[data-path$=".png"] .nav-file-title-content 
{ color: var(--blue); }

.nav-file-title[data-path$=".pdf"] .nav-file-title-content 
{ color: var(--violet); }







.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}


/*
	background: linear-gradient(to right, tomato, rgb(255, 200, 120));
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
*/